{{define "body"}}
<h2>Folder: /</h2>
<div class="rbody">
  <b>Current Version: </b>{{.FolderConfig.CurrentVersion}}<br /><br />
  <b>View Footprints In:</b>
  &nbsp;&nbsp;<a
    href="https://www.arcgis.com/home/webmap/viewer.html?featurecollection=https%3A%2F%2Figskbthivmvwed4.cr.usgs.gov%2Farcgis%2Frest%2Fservices%3Ff%3Djson%26option%3Dfootprints&amp;supportsProjection=true&amp;supportsJSONP=true"
    target="_blank"
    >ArcGIS Online Map Viewer</a
  >
  <br /><br />
  <b>Folders: </b>
  <ul>
    {{range $folder := .Folders}}
      <li>
        <a href="{{$folder.URL.Path}}">{{$folder.Name}}</a>
      </li>
    {{end}}
  </ul>
  <b>Services: </b>
  <ul>
    {{if len .Services}}
        {{range $service := .Services}}
        <li>
            <a href="{{$service.URL.Path}}">{{$service.Name}}</a> ({{$service.Type}})
        </li>
        {{end}}
    {{else}}
        <i>None</i>
    {{end}}
  </ul>
  <br /><br />
  <b>Supported Interfaces:</b>
  &nbsp;&nbsp;<a
    target="_blank"
    href="{{$.URL.Path}}?f=pjson"
    >REST</a
  >
  &nbsp;&nbsp;<a
    target="_blank"
    href="{{$.URL.Path}}?wsdl"
    >SOAP</a
  >
  &nbsp;&nbsp;<a
    target="_blank"
    href="{{$.URL.Path}}?f=sitemap"
    >Sitemap</a
  >
  &nbsp;&nbsp;<a
    target="_blank"
    href="{{$.URL.Path}}?f=geositemap"
><br />
{{end}}