{{define "navTable"}}
<table width="100%" class="navTable">
    <tbody>
        <tr valign="top">
            <td class="breadcrumbs">
            {{$fullDirectory := .FullDirectory}}
            {{range $directoryIndex, $directory := $fullDirectory}}
                {{if eq $directoryIndex 0}}
                <a href="{{$directory.URL.Path}}">Home</a>
                 &gt;  
                {{end}}
                <a href="{{$directory.URL.Path}}">{{$directory.Label}}</a>
                {{if ne $directoryIndex (minus (len $fullDirectory) 1)}} 
                 &gt; 
                {{end}}
            {{end}}
            </td>
            <td align="right">
                <a href="/help" target="_blank">
                    Help
                </a>
                 | 
                 <a href="{{$.URL.Path}}?f=help" target="_blank">
                    API Reference
                </a>
            </td>
        </tr>
    </tbody>
</table>
{{end}}